[Unit]
Description=Mod-Gearman Worker
Documentation=http://mod-gearman.org/docs.html
After=syslog.target network.target

[Service]
Type=exec
PIDFile=/run/mod-gearman-worker/mod-gearman-worker.pid
RuntimeDirectory=mod-gearman-worker
ExecStart=/usr/sbin/mod_gearman_worker --config=/etc/mod-gearman/worker.conf --pidfile=/run/mod-gearman-worker/mod-gearman-worker.pid
ExecReload=/bin/kill -HUP $MAINPID
User=naemon
Group=naemon
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target

